<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>837333370854-et0c3t2e9q9f3gdif35v2tpol2g8oaov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837333370854-et0c3t2e9q9f3gdif35v2tpol2g8oaov</string>
	<key>API_KEY</key>
	<string>AIzaSyBBYFDzyp2DMIXwHt36LY0H3mnKwhJdrZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>837333370854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTfg</string>
	<key>PROJECT_ID</key>
	<string>flutterfiretfg</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfiretfg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837333370854:ios:51f70c4fa93e4b3e90f827</string>
</dict>
</plist>